*{
	padding:0;
	margin:0;
	font-family: sans-serif;
}

body {
	background-image: url("p1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size:100% 1920px;
}

.congratulations {
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width:400px
}
.congratulations h1{
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	margin: 40px 0;
	color: #fff;
}
.congratulations h6{
	font-size: 20px;
	text-align: center;
	margin: 15px 0;
	color: #fff;
}

.congratulations p{
	font-size: 20px;
	text-align: center;
	margin: 15px 0;
	color: #fff;
}

.congratulations input{
	font-size: 16px;
	padding: 15px 10px;
	width: 100%;
	border:0;
	border-radius: 5px;
	outline: none;
}

.congratulations button{
	position: absolute;
	top:100%;
	left:25%;
	font-size:18px;
	font-weight:bold;
	margin:20px 0;
	padding: 10px 15px;
	width:50%;
	border:0;
	border-radius:5 px;
	background-color:
	
}
.congratulations button:hover {
	color: red;
}

.banner h2 {
	position: absolute;
	top:-49%;
	left:-100%;
	font-size:18px;
	font-weight:bold;
	margin:20px 0;
	padding: 10px 15px;
	width:50%;
	border:0;
	border-radius:5 px;
	background-color:


}
.banner h5 {
	position: absolute;
	top:120%;
	left:-88%;
	font-size:18px;
	font-weight:bold;
	margin:20px 0;
	padding: 10px 15px;
	width:50%;
	border:0;
	border-radius:5 px;
	background-color:

}

.banner h3 {
	position: absolute;
	top:-45%;
	left: -88%;
	font-size:18px;
	font-weight:bold;
	margin:20px 0;
	padding: 10px 15px;
	width:50%;
	border:0;
	border-radius:5 px;
	background-color:
		
}
.banner h6{
		position: absolute;
	top:120%;
	left:-100%;
	font-size:18px;
	font-weight:bold;
	margin:20px 0;
	padding: 10px 15px;
	width:50%;
	border:0;
	border-radius:5 px;
	background-color:
}